<mat-toolbar>
    <h1>A/V Compat</h1>
</mat-toolbar>
<div class="rows">
    <div>
        <h2>Containers</h2>
        <div class="containers">
            <mat-card *ngFor="let cnt of containers">
                <mat-card-header>
                    <mat-card-title>
                        {{ cnt.name }}:
                        <app-emoji-bool [bool]="cnt.supported"></app-emoji-bool>
                    </mat-card-title>
                    <mat-card-subtitle>
                        video:
                        <app-emoji-bool [bool]="cnt.video"></app-emoji-bool> |
                        audio:
                        <app-emoji-bool [bool]="cnt.audio"></app-emoji-bool>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content *ngIf="cnt.supported">
                    Codecs:
                    <ul>
                        <li *ngFor="let codec of cnt.codecs">
                            {{ codec.name }}:
                            <ng-container [ngSwitch]="codec.level">
                                <ng-container *ngSwitchCase="'none'">
                                    ❌
                                </ng-container>
                                <ng-container *ngSwitchCase="'maybe'">
                                    🔶
                                </ng-container>
                                <ng-container *ngSwitchCase="'probably'">
                                    ✅
                                </ng-container>
                            </ng-container>
                            <ng-container [ngSwitch]="codec.type">
                                <ng-container *ngSwitchCase="CodecType.VIDEO">
                                    (video)
                                </ng-container>
                                <ng-container *ngSwitchCase="CodecType.AUDIO">
                                    (audio)
                                </ng-container>
                            </ng-container>
                        </li>
                    </ul>
                    Mime types:
                    <ul>
                        <li *ngFor="let mime of cnt.mimes">
                            {{ mime.mime }}:
                            <app-emoji-bool
                                [bool]="mime.supported"
                            ></app-emoji-bool>
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div>
        <h2>Video</h2>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Codecs</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let codec of videoCodecs()">
                        {{ codec.name }}:
                        <ng-container [ngSwitch]="codec.level">
                            <ng-container *ngSwitchCase="'none'">
                                ❌
                            </ng-container>
                            <ng-container *ngSwitchCase="'maybe'">
                                🔶
                            </ng-container>
                            <ng-container *ngSwitchCase="'probably'">
                                ✅
                            </ng-container>
                        </ng-container>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <h2>Audio</h2>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Codecs</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let codec of audioCodecs()">
                        {{ codec.name }}:
                        <ng-container [ngSwitch]="codec.level">
                            <ng-container *ngSwitchCase="'none'">
                                ❌
                            </ng-container>
                            <ng-container *ngSwitchCase="'maybe'">
                                🔶
                            </ng-container>
                            <ng-container *ngSwitchCase="'probably'">
                                ✅
                            </ng-container>
                        </ng-container>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
